[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Berker Bilgi
	email = mail@berkerbilgi.com
[merge]
	tool = opendiff
[core]
	excludesfile = /Users/berker/.gitignore_global
